@import "animations";
@import "nav";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap");

$primary-color: #15181b;
$secondary-color: #ffffff;

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: $secondary-color;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100vw;
}

nav {
  display: block;
  width: 100vw;
  height: auto;
  background-color: $secondary-color;
  .nav-logo {
    display: inline-block;
    padding: 20px 0px 20px 30px;
    top: 15px;
    left: 15px;
    width: auto;
    height: auto;
    font-size: 7vw;
    color: $primary-color;
    z-index: 11;
  }
  .menu-btn {
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 27px 25px 25px 25px;
    background-color: yellow;
    border-bottom-left-radius: 25px;
    cursor: pointer;
    span {
      display: block;
      height: 4px;
      width: 28px;
      background-color: $primary-color;
      border-radius: 50px;
    }
    span:nth-child(2) {
      margin-top: 5px;
      width: 20px;
    }
  }
  .menu-bg {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: $primary-color;
    overflow: hidden;
    z-index: 10;
  }
  .menu {
    display: none;
  }
}

.intro-section {
  display: block;
  width: 100vw;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: 100vw auto;
  background-position: bottom;
  .intro-heading {
    display: block;
    margin-top: 6vh;
    margin-left: 12vw;
    font-size: 6vh;
    color: $primary-color;
  }
  .intro-body {
    img {
      margin: 4vh 0 0 19vw;
      border-radius: 50%;
      width: 25vh;
    }
    .intro-text {
      display: block;
      padding: 0 20vw 0 20vw;
      margin-top: 6vh;
      font-size: 5vw;
      text-align: center;
      color: $secondary-color;
    }
    .social-links {
      display: flex;
      width: 100vw;
      align-items: center;
      justify-content: center;
      list-style: none;
      margin-top: 5vh;
      a {
        text-decoration: none;
        font-size: 6vw;
        padding: 5px;
        color: $secondary-color;
      }
      a:hover {
        color: yellow;
      }
    }
    .scroll-down-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 6vh;
      font-size: 6vw;
      color: $secondary-color;
      text-decoration: none;
    }
  }
  .intro-body::before {
    content: "hello";
    display: block;
    position: absolute;
    transform: rotate(-40deg) translate(5px, -60px);
    font-weight: 1000;
    font-size: 10rem;
    color: rgba($color: #000000, $alpha: 0.1);
    z-index: -1000;
  }
}
